.header-area {
  padding: 30px 0;
}
.title {
  font-size: 50px;
  color: hsl(249, 64%, 69%);
}
.discription {
  color: #000000;
  margin: 20px 0;
}

.header-area {
  text-align: center;
  border: 2px solid hsl(196, 70%, 62%);
  background-color: hsl(147, 65%, 70%);
  margin-bottom: 30px;
}

.budget-amount {
  color: blue;
}
